.site-nav.btn-primary
  .close-button-div
    button.btn.btn-primary.close-nav x
  h3.card-header Goods
  #category-list
  h3.cart-header Cart
  #cart-nav
  .text-left 
    a(
      href="/order"
      target="_blank"
    ) 
      button.btn.btn-primary Order