//- h1 Header

//- a(href="/cat?id=1") Category 1
//- br
//- a(href="/cat?id=2") Category 2

//- p.show-nav Menu

.container.full-width
  .row.align-items-center
    .col.col-lg-2.col-md-2
      button.show-nav.btn.btn-primary Menu
    .col.col-lg-10.col-md-10
      a(href='/')
        h1 Lite Shop